<div class="wrapper">
  <div id="lang">
    <%= link_to(image_tag('flags/br.png', :size => '16x11'), '/pt', :title => 'Português') %>
    <%= link_to(image_tag('flags/es.png', :size => '16x11'), '/es', :title => 'Español') %>
    <%= link_to(image_tag('flags/us.png', :size => '16x11'), '/en', :title => 'English') %>
  </div>
  <div class="clear"></div>
</div>